billiard==4.2.0
celery==5.4.0
chardet==5.2.0
Django==5.1.2
django-jazzmin==3.0.1
flower==2.0.1
google-api-core==2.19.2
google-api-python-client==2.150.0
google-auth==2.35.0
google-cloud-bigquery==3.25.0
gunicorn==23.0.0
pandas==2.2.3
psycopg2-binary==2.9.5
pyasn1==0.4.8
pypdf==5.1.0
python-dotenv==1.0.1
redis==5.0.3
reportlab==4.2.5
requests==2.32.3
social-auth-app-django==5.4.0
social-auth-core==4.5.3
tenacity==9.0.0
urllib3==2.3.0
uvicorn==0.29.0
whitenoise==6.7.0