billiard==4.2.0
celery==5.4.0
Django==5.1.2
django-jazzmin==3.0.1
flower==2.0.1
google-cloud-bigquery==3.25.0
google-auth==2.35.0
gunicorn==23.0.0
pandas==2.2.3
psycopg2-binary==2.9.5
python-dotenv==1.0.1
redis==5.0.3
requests==2.32.3
uvicorn==0.29.0
social-auth-app-django==5.4.0
social-auth-core==4.5.3
whitenoise==6.7.0